<h2>New book</h2>

<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <p>本のタイトル</p>
  <%= f.text_field :title %>

  <p>感想</p>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>