<div class="success">
  <%= flash[:success] %>
</div>
<main>
  <p><strong>本のタイトル:</strong><%= @book.title %></p>
  <p><strong>感想:</strong><%= @book.body %></p>
</main>
<div class="edit-back-link">
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <p>|</p>
  <a href="/books">Back</a>
</div>