<main>
  <p><span class="bold-size">本のタイトル:</span><%= @book.title %></p>
  <p><span class="bold-size">感想:</span><%= @book.body %></p>
</main>
<div class="links">
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <p>|</p>
  <a href="/books">Back</a>
</div>