<h1>ようこそ<strong class="side-margin">Bookers</strong>へ！</h1>
<P><strong class="bold-size">Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
<P>印象を共有し交換することができます</p>
<a class="start-button" href="/books">start</a>