/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  width: 1000px;
  color: #404040;
}

a {
  color: #404040;
}

.start-button {
  display: inline-block;
  margin-left: 70px;
}

h1 {
  margin: 30px 0 0 30px;
  color: #404040;
}

.side-margin {
  margin-left: 10px;
  margin-right: 10px;
}

p {
  font-size: 14px;
  display: block;
  color: #404040;
  margin-left: 70px;
  margin-bottom: 40px;
}

table {
  width: 500px;
  margin-left: 35px;
  font-size: 14px;
}

.up {
}

.midle-links {
  display: flex;
  flex-wrap: wrap;
}

.new-book {
  display: inline-block;
  margin-left: 35px;
}

.new-book > h3 {
  margin-top: 20px;
}

.sub-title {
  margin: 10px 0 0 0;
}


