// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a {
  color: #666;
  padding: 0;
}



.top-headline > strong {
  margin: 0 10px 0;
}

.top-text {
  margin: 20px 33px;
}

strong {
  margin-right: 5px;
}

.top-text > p {
  margin-bottom: 32px;
}